body {
    background-color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    color: #000000;
    padding-top:50px;
}

#dropbox {
	text-align: center;
    border: 1px solid #dedede;
    padding:70px 20px;
    color:#ccc;
    border-radius:8px;
    background-color:#f2f2f2;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2O8cuXKfx0dHUYGKIAzMARgKjFUAABg1QgFcd6QewAAAABJRU5ErkJggg==);
    margin-bottom: 20px;
    font-size:20px;
}

#dropbox.active {
    border: 4px dashed #FF0000;
}

.progress-trough {
    border: 1px solid #ccc;
    height: 24px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}

/* 
	Added by: PaintYourWeb.com 
	Date: 14 Feb 2015
*/

.navbar-nav li a {
	text-transform: uppercase;
}

/* === Intro === */
#intro-container {
	/*background-size: 13px, 29px, 37px, 53px;
	background: url("img/bg.png");
	background-repeat: repeat;
	background-color:#f7931e;*/
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQYV2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtfoX9tJAAAAAElFTkSuQmCC);
	background-color:#f7931e;
}
#intro {
	text-align: center;
	color:#fff;
	padding: 40px 0 60px 0;
}
#intro .row h1 {
	margin-bottom: 25px;
}
#intro .row p {
	padding:0 190px;
	font: normal normal normal 14px/24px arial;
}
#intro .row a.btn-intro {margin-top:20px;}


/* === Main Contents === */
#main-content {
	padding:20px 0
}
#main-title {
	text-align: center;
	margin: 20px 0px 40px 0;
}
#main-title h1 {
	text-transform: uppercase;
}
#main-title h4 {
	color:#ccc;
}

.left {
	padding:20px;
}
.groups {
	margin:10px 0;
}
.groups h4 {
	text-transform: uppercase;
}
.ordering {
	color:#f7931e;
	font-size:30px;
	padding: 3px 0 0 14px;
	width:46px;
	height:46px;
	border-radius: 50%;
	background:#eee;
}
.ordering-or {
	font-size: 45px;
	color: #d3d3d3;
}

.right {
	padding:20px;
}

#watch-more, #videos-title {
	margin-left:0;
}

.video-box {
	height:165px;
	border-radius: 8px;
	background:#ccc;
	margin-bottom: 10px;
}
#how-it-works h3 {
	color:#f7931e;
}
#how-it-works p {
	color:#5f5f5f;
}
.image-box {
	height:165px;
	border-radius: 8px;
	background:#ccc;
	margin-bottom: 10px;
}

.videos {
	height:225px;
	border-radius: 8px;
	background:#ccc;
	margin-bottom: 10px;
}
.video-lists, #watch-title {
	margin:10px;
}
#watch-title p {
	font: normal normal normal 14px/24px arial;
}
#watch-pagination {
	float:right;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #f7931e;
  border-color: #f7931e;
}
.pagination>li>a, .pagination>li>span {
	color: #ccc;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #f7931e;
}

#about-left p {
	font: normal normal normal 14px/24px arial;
}
#about-right .well {
	background:transparent; 
	border:0;
}
.form-control {
	box-shadow: none;
}
#submit-button:hover {
	color: #fff;
	background-color: #f7931e;
}
.contact-map {
	margin-bottom:-45px;
}
#contact-info {
	font-size: 24px;
	color: #c0c0c0;
	margin:40px 0 20px 0;
}
#contact-info i{
	color: #f7931e;
}
#successful h3 {
	color: #f7931e;
}
#successful p {
	  font-size: 20px;
}
#successful p a{
	color: #f7931e;
	text-decoration: underline;
}
#successful p a:hover {
	text-decoration: none;
}

#authlinks li {
    float: right;
}

/* === Global === */
.btn-intro {
	padding: 14px 50px;
	border: 1px solid white;
	font-size: 24px;
	color: #fff;
	
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
	}
.btn-intro:hover {
	background: rgba(255,255,255, 0.5);
	color:#fff;
	
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

/* --------------------------------------
   Form
   -------------------------------------- */

.left select {
height: 40px;
width:100%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: #ccc;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.left select:hover {
  border: 1px solid rgba(196,196,196,1);
  background: rgba(255,255,255,1);
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

.left select:focus {
  border: 1px solid #ffd6a6;
  background: rgba(255,232,206,1);
  -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.left input[type="submit"], .left input[type="file"] {
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: #ccc;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.left input[type="submit"]:hover, .left input[type="file"]:hover {
	color:#fff;
  border: 0px solid rgba(196,196,196,1);
  background: #f7931e;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

footer {
	margin-top:40px;
	text-align: center;
	background:#f2f2f2;
	padding:60px 0;
}
footer hr {
	border-color:#d3d3d3;
	width:120px;
}
#copyrights {
	color:#a3a3a3;
}
#social-icons a {
    color:#a3a3a3; 
}
#social-icons a .fa-facebook-square:hover {
    color:#3b5998;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#social-icons a .fa-twitter-square:hover {
    color:#00aced;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#social-icons a .fa-google-plus-square:hover {
    color:#dd4b39;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#social-icons a .fa-instagram:hover {
    color:#517fa4;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	#dropbox {display:none}
	#drag-drop h4{display:none;}
	.ordering-or {display:none}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#drag-drop h4{display:none;}
	#dropbox {display:none}
	.ordering-or {display:none}
	#intro .row p {
	padding:0 30px;
}
	#main-content {
	padding:25px;
}
/* Large desktop */
@media (min-width: 1200px) {

}

