<!DOCTYPE html>
<html>
<head>
<title>Video Enhanced Successfully!</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="//cdn.sublimevideo.net/js/if9j6hhn.js"></script>
</head>
<body>

<h1>Video Enhanced Successfully!</h1>
<h2>Playing Now!</h2>

<a href="{{ url_for('index') }}">Back to front page</a><p>

{% for file in files %}
    <h2>{{ file }}</h2>
	
	<video id="a240e92d" class="sublime" width="320" height="240"  data-uid="a240e92d" data-autoresize="fit" preload="none">
	  <source src="{{ url_for('static', filename='uploads/{}/{}'.format(uuid, file)) }}" />
	  Your browser does not support the video tag. Try a modern browser such as <a href="http://www.google.com/chrome/">Google Chrome</a>.
	</video>
{% endfor %}

</body>
</html>
