<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ConcertCam App</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://104.130.126.45/"> <img src="static/images/cclogo.png"> ConcertCam
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://104.130.126.45/">Upload</a>
                    </li>
                    <li>
						<a href="{{ url_for('Watch') }}">Watch</a>
                    </li>
                    <li>
                    	<a href="/templates/about.html">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
<div class="container-fluid" id="intro-container">
	<div class="container" id="intro">
	<div class="row">
		<h1>Welcome to ConcertCam!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis fermentum urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ut ex malesuada, imperdiet augue a, viverra lectus. Cras vitae porttitor sapien. Nullam iaculis vehicula ante at aliquet. Sed pellentesque, lectus in dapibus mattis, mi libero lobortis tortor, eu 
sagittis turpis magna at lectus. Cu</p>
<a href="#" class="btn btn-large btn-intro">Read more</a>
	</div>
	</div>
</div> <!-- /Intro-->

<div class="container" id="main-content">
	<div class="row" id="main-title">
		    <h1>upload video</h1>
		    <h4>Phasellus ut dictum enim. Nullam sagittis turpis quis</h4>
	    </div><!-- /title -->
	    
	<div class="row">
		<div class="col-sm-6 left">
			<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
			<div class="groups">
				<div class="ordering">1</div>
				<h4>Select a concert:</h4>
				 <select name="selectaudio">
				 	{% for song in songs %}
				 	<option value="{{song}}">{{song}}</option>
				 	{% endfor %}
	       		 </select>
			</div><!-- /Groups -->
			
			<div class="groups">
				<div class="ordering">2</div>
				<h4>Select a Video:</h4>
				<input id="file-picker" type="file" name="file"><p>
			    <file-picker class="pagination-centered">
			</div><!-- /Groups -->
			
			<div class="groups">
				<div class="ordering-or">or</div>
				<h4>Select file OR drag them into the box below.</h4>
				<div id="dropbox">
					<div id="cameraIcon"><i class="fa fa-camera fa-5x"></i></div>
					<h4>Drag and Drop Video File Here</h4>
			   </div>

	       <fieldset id="progress" style="display: none">
	           <legend>File Progress</legend>
	           <div class="progress-trough">
	               <div id="progress-bar" class="progress-bar">0%</div>
	           </div>
	       </fieldset>
		
                 <fieldset id="progress-enhance" style="display: none">
                   <legend>Enhancing</legend>
                   <div class="progress-trough">
                       <div id="enhance-bar" class="enhance-bar">0%</div>
                   </div>
               </fieldset>

		   <input type="submit" value="Upload!" id="upload-button" class"btn btn-default">
			</div><!-- /Groups -->
			
			</form>

	   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
	   <script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
		</div>
		
		<div class="col-sm-6 right">
			<div class="row" id="videos-title">
				<h3>Videos</h3>
				<h4>Phasellus ut dictum enim. Nullam sagittis turpis quis</h4>
			</div>
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="video-box">
						&nbsp;
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<div class="video-box">
						&nbsp;
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="video-box">
						&nbsp;
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<div class="video-box">
						&nbsp;
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="video-box">
						&nbsp;
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<div class="video-box">
						&nbsp;
					</div>
				</div>
			</div>
			<div class="row" id="watch-more">
				<a href="#">Watch more videos <span class="badge">1,462</span></a>
			</div>
		</div>
	</div><!-- /left and right -->
	
	<hr>
	
	<div class="row" id="how-it-works">
		<div class="row" id="main-title">
		    <h1>how it works?</h1>
		    <h4>Phasellus ut dictum enim. Nullam sagittis turpis quis</h4>
	    </div><!-- /title -->
	    
		<div class="col-sm-4">
			<div class="image-box">
				&nbsp;
			</div>
			<h3>Phasellus ut dictum enim.</h3>
			<p>Curabitur ut sodales ex. Praesent rutrum pretium purus non rutrum. Proin sit amet lectus eget mauris hendrerit ornare. Sed nisl diam, egestas sed rutrum id, rhoncus</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box">
				&nbsp;
			</div>
			<h3>Phasellus ut dictum enim.</h3>
			<p>Curabitur ut sodales ex. Praesent rutrum pretium purus non rutrum. Proin sit amet lectus eget mauris hendrerit ornare. Sed nisl diam, egestas sed rutrum id, rhoncus</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box">
				&nbsp;
			</div>
			<h3>Phasellus ut dictum enim.</h3>
			<p>Curabitur ut sodales ex. Praesent rutrum pretium purus non rutrum. Proin sit amet lectus eget mauris hendrerit ornare. Sed nisl diam, egestas sed rutrum id, rhoncus</p>
		</div>
	</div><!-- /How it works -->
	
</div><!-- /main content -->

<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="social-icons">
					<a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
					<a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
					<a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
					<a href="#"><i class="fa fa-instagram fa-3x"></i></a>
				</div>
				<hr>
				<div id="copyrights">
					© 2015 ConcertCam. All rights reserved
				</div>
			</div>
		</div>
	</div>
</footer>



    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
