{% extends "layout.html" %}
{% block body %}
<div class="container" id="about-page">
    <div class="row" id="about-details">
	    <div class="col-sm-6" id="about-left">
		    <h2>About Us</h2>
		    <p>Phasellus ut dictum enim. Nullam sagittis turpis quis faucibus condimentum. Pellentesque non est eu mauris eleifend ultricies. Fusce sagittis elit vel condimentum feugiat. Donec blandit urna sit amet massa suscipit, sed commodo metus ultricies. Donec semper, diam nec maximus viverra, mi dolor vestibulum turpis, id aliquam tellus nisi in erat. Aenean venenatis ante condimentum ligula tempor, eu feugiat metus rhoncus.<br><br>

Praesent pulvinar nisi vitae nibh tempus, eget mattis lacus vehicula. Quisque vel metus vitae magna feugiat imperdiet vitae eget purus. Donec luctus justo vitae nisi varius, eget egestas nulla mollis. Sed eu orci eu urna facilisis dignissim. Aenean sit amet sem vel nisl pulvinar dictum vitae id urna. Maecenas ut odio vel dui posuere euismod. In non ligula vel nisi aliquet laoreet. Suspendisse mattis quis ex et dignissim. Nunc dapibus auctor ipsum et mollis. Fusce vehicula blandit ipsum nec aliquam. Mauris vel purus orci. Duis sed aliquet risus. Fusce eget scelerisque sapien.<br><br>

Curabitur ut sodales ex. Praesent rutrum pretium purus non rutrum. Proin sit amet lectus eget mauris hendrerit ornare. Sed nisl diam, egestas sed rutrum id, rhoncus eu diam. Duis eget congue neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse iaculis fermentum libero, vel porttitor diam commodo ut. Nulla sed maximus lorem, sit amet imperdiet ligula.</p>
	    </div>
	    <div class="col-sm-6" id="about-right">
		    <h2>Contact Us</h2>
		    <h4>Send us a message!</h4>



		    <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-left" id="contact-submit">
                                <button type="submit" id="submit-button" class="btn btn-default btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
	    </div>
    </div>
</div><!-- /left and right -->

<div class="container" id="contact-info">
	<div class="row">
		<div class="col-sm-4 text-center">
			<i class="fa fa-phone"></i> 00 0000 000
		</div>
		<div class="col-sm-4 text-center">
			<i class="fa fa-print"></i> 00 0000 000
		</div>
		<div class="col-sm-4 text-center">
			<i class="fa fa-envelope"></i> info@domain.com
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<!-- Responsive iFrame -->
<div class="contact-map">
    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424396.3176723366!2d150.92243255000002!3d-33.7969235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW!5e0!3m2!1sen!2sau!4v1424090204424"></iframe>
</div>

		</div>
	</div>
</div>
{% endblock %}
