{% extends "layout.html" %}
{% block custom_includes %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="//cdn.sublimevideo.net/js/if9j6hhn.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12" id="successful">
			<h1>Video Enhanced Successfully!</h1>
<p>Play your video now or <a href="{{ url_for('index') }}" title="">upload another one</a></p>

<a class="btn btn-default"  id="upload-button" href="{{ url_for('index') }}">Back to front page</a>

{% for file in files %}
    <h3>{{ file }}</h3>


	<video id="a240e92d" class="sublime" width="320" height="240"  data-uid="a240e92d" data-autoresize="fit" preload="none">
	  <source src="{{ url_for('static', filename='uploads/{}/{}'.format(folder, file)) }}" />
	  Your browser does not support the video tag. Try a modern browser such as <a href="http://www.google.com/chrome/">Google Chrome</a>.
	</video>
{% endfor %}
		</div>
	</div>

	<div class="row" id="watch-title">
    <h2>Watch recently added videos</h2>
	</div>

	<div class="row" id="video-list">
		<div class="row video-lists">
          {% for i in range(3) %}
			<div class="col-sm-4" id="list-video">
				<div class="videos">
                  <a href="{{ recent_vids[i][0] }}">
                    <img width="353" height="225" src="{{ recent_vids[i][1] }}" />
                  </a>
                </div>
			</div>
          {% endfor %}
		</div><!-- /Row -->
	</div>

	<div class="row" id="watch-pagination">
		<div class="col-sm-12">
			<ul class="pagination pagination-lg">
			  <li class="disabled"><a href="#">PREV</a></li>
			  <li class="active"><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">NEXT</a></li>
			</ul>
		</div>
	</div><!-- /Pagination -->

</div><!-- /Container -->
{% endblock %}
