{% extends "layout.html" %}
{% block content %}
<div class="container-fluid" id="intro-container">
    <div class="container" id="intro">
    <div class="row">
        <h1>Welcome to ConcertCam!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis fermentum urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ut ex malesuada, imperdiet augue a, viverra lectus. Cras vitae porttitor sapien. Nullam iaculis vehicula ante at aliquet. Sed pellentesque, lectus in dapibus mattis, mi libero lobortis tortor, eu
sagittis turpis magna at lectus. Cu</p>
<a href="#" class="btn btn-large btn-intro">Read more</a>
    </div>
    </div>
</div> <!-- /Intro-->

<div class="container" id="main-content">
    <div class="row" id="main-title">
            <h1>upload video</h1>
            <h4>Phasellus ut dictum enim. Nullam sagittis turpis quis</h4>
        </div><!-- /title -->

    <div class="row">
        <div class="col-sm-6 left">
            <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <div class="groups">
                <div class="ordering">1</div>
                <h4>Select a concert:</h4>
                 <select name="selectaudio">
                    {% for song in songs %}
                    <option value="{{song}}">{{song}}</option>
                    {% endfor %}
                 </select>
            </div><!-- /Groups -->

            <div class="groups">
                <div class="ordering">2</div>
                <h4>Select a Video:</h4>
                <input id="file-picker" type="file" name="file"><p>
                <file-picker class="pagination-centered">
            </div><!-- /Groups -->

            <div class="groups" id="drag-drop">
                <div class="ordering-or">or</div>
                <h4>Select file OR drag them into the box below.</h4>
                <div id="dropbox">
                    <div id="cameraIcon"><i class="fa fa-camera fa-5x"></i></div>
                    <h4>Drag and Drop Video File Here</h4>
               </div>

           <fieldset id="progress" style="display: none">
               <legend>File Progress</legend>
               <div class="progress-trough">
                   <div id="progress-bar" class="progress-bar">0%</div>
               </div>
           </fieldset>

                 <fieldset id="progress-enhance" style="display: none">
                   <legend>Enhancing</legend>
                   <div class="progress-trough">
                       <div id="enhance-bar" class="enhance-bar">0%</div>
                   </div>
               </fieldset>

           <input type="submit" value="Upload!" id="upload-button" class"btn btn-default">
            </div><!-- /Groups -->

            </form>

       <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
       <script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
        </div>

        <div class="col-sm-6 right">
            <div class="row" id="videos-title">
                <h3>Videos</h3>
                <h4>Phasellus ut dictum enim. Nullam sagittis turpis quis</h4>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="video-box">
                      <a href="{{ recent_vids[0][0] }}">
                        <img height="165" width="265" src="{{ recent_vids[0][1] }}">
                      </a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="video-box">
                      <a href="{{ recent_vids[1][0] }}">
                        <img height="165" width="265" src="{{ recent_vids[1][1] }}">
                      </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="video-box">
                      <a href="{{ recent_vids[2][0] }}">
                        <img height="165" width="265" src="{{ recent_vids[2][1] }}">
                      </a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="video-box">
                      <a href="{{ recent_vids[3][0] }}">
                        <img height="165" width="265" src="{{ recent_vids[3][1] }}">
                      </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="video-box">
                      <a href="{{ recent_vids[4][0] }}">
                        <img height="165" width="265" src="{{ recent_vids[4][1] }}">
                      </a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="video-box">
                      <a href="{{ recent_vids[5][0] }}">
                        <img height="165" width="265" src="{{ recent_vids[5][1] }}">
                      </a>
                    </div>
                </div>
            </div>
            <div class="row" id="watch-more">
                <a href="#">Watch more videos <span class="badge">{{count}}</span></a>
            </div>
        </div>
    </div><!-- /left and right -->

    <hr>

    <div class="row" id="how-it-works">
        <div class="row" id="main-title">
            <h1>how it works?</h1>
            <h4>Phasellus ut dictum enim. Nullam sagittis turpis quis</h4>
        </div><!-- /title -->

        <div class="col-sm-4">
            <div class="image-box">
                &nbsp;
            </div>
            <h3>Phasellus ut dictum enim.</h3>
            <p>Curabitur ut sodales ex. Praesent rutrum pretium purus non rutrum. Proin sit amet lectus eget mauris hendrerit ornare. Sed nisl diam, egestas sed rutrum id, rhoncus</p>
        </div>
        <div class="col-sm-4">
            <div class="image-box">
                &nbsp;
            </div>
            <h3>Phasellus ut dictum enim.</h3>
            <p>Curabitur ut sodales ex. Praesent rutrum pretium purus non rutrum. Proin sit amet lectus eget mauris hendrerit ornare. Sed nisl diam, egestas sed rutrum id, rhoncus</p>
        </div>
        <div class="col-sm-4">
            <div class="image-box">
                &nbsp;
            </div>
            <h3>Phasellus ut dictum enim.</h3>
            <p>Curabitur ut sodales ex. Praesent rutrum pretium purus non rutrum. Proin sit amet lectus eget mauris hendrerit ornare. Sed nisl diam, egestas sed rutrum id, rhoncus</p>
        </div>
    </div><!-- /How it works -->

</div><!-- /main content -->
{% endblock %}
