<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ConcertCam App</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block custom_includes %}
    {% endblock %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}"><img sc="static/images/cclogo.png">ConcertCam
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('upload') }}">Upload</a>
                    </li>
                    <li>
                        <a href="{{ url_for('watch') }}">Watch</a>
                    </li>
                    {% if current_user.is_authenticated() and current_user.is_artist() %}
                    <li>
                      <a href="{{ url_for('upload_audio') }}">Upload Audio</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('about') }}">About</a>
                    </li>
                </ul>
                <!-- Show user info if logged in, else show login link -->
                <ul class="nav" id="authlinks">
                   {% if current_user.is_authenticated() %}
                       <li><a href="{{ url_for('logout') }}">Logout</a></li>
                   {% endif %}
                   {% if not current_user.is_authenticated()%}
                       <li><a href="{{ url_for('login') }}">Login</a></li>
                       <li><a href="{{ url_for('signup') }}">Signup</a></li>
                   {% endif %}
               </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert">
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
      </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="social-icons">
                    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
                </div>
                <hr>
                <div id="copyrights">
                    © 2015 ConcertCam. All rights reserved
                </div>
            </div>
        </div>
    </div>
</footer>



    <!-- jQuery Version 1.11.1 -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
