{% extends "layout.html" %}
{% block content %}
<div id="login_box">
  <form action="{{ url_for('signup') }}" method="POST">
    <table>
      <tr>
        <td>Username: </td>
        <td><input type="text" name="username" /><td>
      </tr>
      <tr>
        <td>Password: </td>
        <td><input type="password" name="password" /><td>
      </tr>
      <tr>
        <td>You are a: </td>
        <td>
          <input type="radio" name="user_type" value="concertgoer" checked="checked"/> Concert goer
          <br />
          <input type="radio" name="user_type" value="artist" /> Artist
        </td>
      </tr>
      <tr>
        <td><input type="submit" value="Submit"></td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
