{% extends "layout.html" %}
{% block content %}

<div class="container" id="main-content">
  <div class="row" id="main-title">
    <h1>upload audio</h1>
    <h4>Phasellus ut dictum enim. Nullam sagittis turpis quis</h4>
  </div><!-- /title -->

  <div class="row">
    <div class="col-sm-6 left">
      <form id="upload-form" action="{{ url_for('upload_audio') }}" method="POST" enctype="multipart/form-data">
        <div class="groups">
          <div class="ordering">1</div>
          <h4>Name of concert:</h4>
          <select name="selectaudio">
            {% for song in songs %}
            <option value="{{song}}">{{song}}</option>
            {% endfor %}
          </select>

        </div><!-- /Groups -->

        <div class="groups">
          <div class="ordering">2</div>
          <h4>Select an Audio:</h4>
          <input id="file-picker" type="file" name="file"><p>
        </div><!-- /Groups -->

        <input type="submit" value="Upload!" id="upload-button" class"btn btn-default">


      </form>

      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    </div>
  </div>
</div><!-- /main content -->
{% endblock %}
