{% extends "layout.html" %}
{% block content %}
<div class="container" id="watch-page">
	<div class="row" id="watch-title">
    <h2>Watch Videos</h2>
    <p>Phasellus ut dictum enim. Nullam sagittis turpis quis faucibus condimentum. Pellentesque non est eu mauris eleifend ultricies. Fusce sagittis elit vel condimentum feugiat. Donec blandit urna sit amet massa suscipit, sed commodo metus ultricies. Donec semper, diam nec maximus viverra, mi dolor vestibulum turpis, id aliquam tellus nisi in erat. Aenean venenatis ante condimentum ligula tempor, eu feugiat metus rhoncus.
</p>
	</div>


	<div class="row" id="video-list">
      {% for i in range(4) %}
		<div class="row video-lists">
			<div class="col-sm-4" id="list-video">
				<div class="videos">
                  <a href="{{ all_vids[i*3 + 0][0] }}">
                    <img height="225" width="353" src="{{ all_vids[i*3 + 0][1] }}" />
                  </a>
                </div>
			</div>
			<div class="col-sm-4" id="list-video">
				<div class="videos">
                  <a href="{{ all_vids[i*3 + 1][0] }}">
                    <img height="225" width="353" src="{{ all_vids[i*3 + 1][1] }}" />
                  </a>
                </div>
			</div>
			<div class="col-sm-4" id="list-video">
				<div class="videos">
                  <a href="{{ all_vids[i*3 + 2][0] }}">
                    <img height="225" width="353" src="{{ all_vids[i*3 + 2][1] }}" />
                  </a>
                </div>
			</div>
		</div><!-- /Row -->
        {% endfor %}
	</div>

	<div class="row" id="watch-pagination">
		<div class="col-sm-12">
			<ul class="pagination pagination-lg">
			  <li class="disabled"><a href="#">PREV</a></li>
			  <li class="active"><a href="#">1</a></li>
			  <li><a href="{{ url_for('watch', page=2) }}">2</a></li>
			  <li><a href="{{ url_for('watch', page=3) }}">3</a></li>
			  <li><a href="{{ url_for('watch', page=4) }}">4</a></li>
			  <li><a href="{{ url_for('watch', page=5) }}">5</a></li>
			  <li><a href="{{ url_for('watch', page=current_page + 1) }}">NEXT</a></li>
			</ul>
		</div>
	</div><!-- /Pagination -->

</div><!-- /left and right -->
{% endblock %}
